<mat-toolbar color="primary">
  <span>Gerenciador de Alunos</span>
  <span class="spacer"></span>
  <ng-container *ngIf="(isHandset$ | async) as isHandset">
    <ng-container *ngIf="!isHandset">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/students">Lista de Alunos</a>
      <a mat-button routerLink="/students/add">Adicionar Aluno</a>
    </ng-container>
    <ng-container *ngIf="isHandset">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/students">Lista de Alunos</button>
        <button mat-menu-item routerLink="add">Adicionar Aluno</button>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>


