.spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background-color: #28a745 !important; 
}

.mat-toolbar-row, .mat-toolbar-multiple-rows, .mat-toolbar-single-row {
  color: #fff;
}

.mat-button, .mat-menu-item {
  color: #fff;
}
