/* src/app/app.component.scss */
.container {
  background-color: #f8f9fa;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #3f51b5; /* Primary color */
  color: white;
}

button.mat-button {
  color: white;
}
