<div class="container mt-4">
  <h2>Sistema Gerenciador de Alunos</h2>
  <p>Página inicial do sistema.</p>
  <h3>Descrição do Sistema</h3>    
  <p>
    Esse projeto tem o objetivo de manipular uma lista de estudantes. <br />
    É um simples sistema CRUD (CREATE, READ, UPDATE and DELETE), utilizando um JSON Server para armazenar os dados.
    Aqui, conseguimos realizar as seguintes operações: <br />
    <br />
    - Adicionar um aluno. <br >
    - Exibir um aluno. <br >
    - Editar um aluno. <br >
    - Excluir um aluno. <br >
  </p>
  <button class="btn btn-primary main-button" (click)="navigateToStudentList()">Clique aqui para ver a lista de alunos!</button>
</div>
